@layer base {
  .font-helvetica {
    font-family: Helvetica, Arial, sans-serif;
  }
}

.custom-list {
  display: flex;
  flex-direction: column;
}

.custom-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-text {
  margin-left: 10px; /* Mengatur jarak antara ikon dan teks */
}

•⁠ ⁠ {
  font-family: Helvetica, sans-serif;
}

.btn {
  background-color: #5cb85f;
}

/* Testimonial Section */
.owl-carousel .card {
  background-color: #f1f3ff;
}

#testimonial .custom-img-testi {
  width: 80px;
}
